:root {
  /* main color */
  --hue: 182;
  --saturation: 42%;
  --lightness: 48%;
}

html {
  color-scheme: light;
  --brand: hsl(var(--hue) var(--saturation) var(--lightness));
  --text1: hsl(var(--hue) var(--saturation) 10%);
  --text2: hsl(var(--hue) 30% 30%);
  --surface1: hsl(var(--hue) 20% 90%);
  --surface2: hsl(var(--hue) 20% 95%);
  --surface3: hsl(var(--hue) 20% 92%);
  --surface4: hsl(var(--hue) 20% 85%);
  --surface-shadow: var(--hue) 10% 20%;
  --shadow-strength: 0.02;
}

html.dark {
  color-scheme: dark;
  --brand: hsl(
    var(--hue) calc(var(--saturation) / 1.5) calc(var(--lightness) / 1)
  );
  --text1: hsl(var(--hue) 15% 85%);
  --text2: hsl(var(--hue) 5% 65%);
  --surface1: hsl(var(--hue) 10% 10%);
  --surface2: hsl(var(--hue) 10% 15%);
  --surface3: hsl(var(--hue) 5% 20%);
  --surface4: hsl(var(--hue) 5% 25%);
  --surface-shadow: var(--hue) 50% 3%;
  --shadow-strength: 0.2;
}

.smooth-shadow {
  border: 1px solid hsl(var(--hue) 10% 50% / 15%);
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow:
    0 2.8px 2.2px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

html {
  background-color: var(--surface1);
}

body {
  margin: 0;
  padding: 1rem;
  line-height: 1.65;
  font-size: 1.125rem;
  color: var(--text1);
  transition: font-size 250ms ease;
  font-family: "Montserrat Variable", sans-serif;
}

#body-content {
  margin: 0 auto;
  width: 100%;
  max-width: 45rem;
}

#content {
  padding-top: 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: bold;
}

h2 {
  color: var(--text2);
  margin: 0.5rem 0;
}

svg {
  width: 2rem;
  height: 2rem;
}

a {
  color: var(--text4);
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--brand);
}

.expanded {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(0);
    transition:
      transform 250ms ease-in,
      opacity 250ms ease-in;
  }

  @starting-style {
    transform: translateY(-0.75rem);
    opacity: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-size: 0.875rem;
  padding: 0.25rem;
  border-radius: 0.4rem;
  background-color: var(--surface4);
}

p {
  text-wrap: pretty;
}

.box {
  border-radius: 0.5rem;
  background-color: var(--surface3);
}

.icon-fill {
  fill: transparent;
}

.icon-outline {
  fill: var(--text1);
}

a:hover .icon-fill {
  transition: fill 200ms;
  fill: var(--brand);
  opacity: 50%;
}

.skip-nav {
  font-size: 1.1rem;
  font-style: italic;
  position: absolute;
  background-color: var(--surface4);
  color: var(--text1);
  transform: translateY(-140%);
  transition: transform 200ms ease-out;
  padding: 0.8rem;
  border-radius: 0 0 0.9rem 0.9rem;
}

.skip-nav:focus {
  transform: translateY(-40%);
  transition: transform 200ms ease-in;
}

.tag {
  color: var(--text2);
  margin: 0.25rem;
  border: dotted 1px var(--text2);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  background-color: var(--surface3);
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags-link {
  font-size: 1.4rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 6.5rem;
}

.tags-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--brand);
}

blockquote {
  background: var(--surface2);
  border-radius: 0 0.4rem 0.4rem 0;
  border-left: 0.2rem solid var(--text2);
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
}
blockquote:before {
  font-family: "PT Serif Caption", serif;
  color: var(--text2);
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: 0.5rem;
  vertical-align: -1.5rem;
}
blockquote p {
  display: inline;
}

@media screen and (min-width: 550px) {
  #hamburger {
    display: none;
  }

  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    display: inline-block;
    width: inherit;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.25rem;
  }

  code {
    font-size: 1rem;
  }

  .contact-list {
    display: flex;
    justify-content: space-between;
  }
}

/* Always show navigation links when Javascript is disabled */
@media (scripting: none) {
  .nav-links {
    display: block;
    width: auto;
  }

  .nav-links a {
    display: inline-block;
    width: inherit;
  }

  #hamburger {
    display: none;
  }
}
