---
import { Image } from "astro:assets";
import profilePic from "../assets/profile-pic.jpeg";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import { fade } from "astro:transitions";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Francesco Menghi">
  <main transition:animate={fade({ duration: "300ms" })}>
    <div class="introduction">
      <div class="hello">
        <Image
          height={200}
          densities={[2]}
          id="profile-picture"
          src={profilePic}
          alt={"Portrait of Francesco Menghi"}
          loading="eager"
        />
      </div>
      <h1>Francesco Menghi</h1>
      <h2 class="subtitle">Software Developer</h2>
      <p class="description">
        Hello! 👋 I am a Software Developer enthusiastic about web development
        and Open Source. I graduated from Seneca College with a Computer
        Programming and Analysis diploma. In my past life, I worked in finance
        with a Bachelor's in Economics from York University. I enjoy travelling
        ✈️ playing football ⚽️ and being outdoors 🌳
      </p>
    </div>
    <h2>Latest Posts</h2>
    <ul class="latest-posts">
      {
        allPosts
          .slice(0, 3)
          .map((post) => (
            <BlogPost
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={post.data.pubDate}
            />
          ))
      }
    </ul>
  </main>
</BaseLayout>

<style is:global>
  .latest-posts {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
  }

  .latest-posts li {
    flex: 1;
    border-radius: 1.2vw;
    box-shadow: 0 0 1.5rem 0.1rem hsla(200, 94%, 14%, 0.1);
  }

  .post {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    gap: 0.5rem;
  }

  .introduction {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subtitle {
    opacity: 80%;
    font-style: italic;
  }

  .description {
    opacity: 90%;
  }

  #profile-picture {
    margin: 1.5rem;
    border-radius: 20%;
  }

  @media screen and (max-width: 700px) {
    .latest-posts {
      flex-direction: column;
    }

    .latest-posts li {
      padding: 1rem 1.5rem;
    }
  }
</style>
