---
const { url, title, pubDate, featured } = Astro.props;
---

<li class:list={[{ box: featured }, { "rad-shadow": featured }]}>
  <p>
    <a href={url} class="post">{title}</a>
    <span class="date"> {pubDate.toString().slice(4, 15)}</span>
  </p>
</li>

<style>
  li {
    flex: 1;
  }

  p {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .post {
    color: var(--text);
    text-decoration: none;
  }

  .post:hover {
    text-decoration: underline;
  }

  .date {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 0.6rem;
  }
</style>
