<button id="hamburger" aria-label="Menu toggle">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</button>

<style>
  #hamburger {
    border: 0;
    background: none;
    cursor: pointer;
    border-radius: 0.9rem;
    padding: 0.3rem;
  }

  .bar {
    margin: 0.4rem;
    width: 1.8rem;
    height: 0.2rem;
    background: var(--text1);
    border-radius: 0.9rem;
    opacity: 1;
    transition:
      margin 350ms,
      transform 350ms,
      opacity 200ms;
  }

  .close .bar:first-child {
    transform: translateY(0.6rem) rotate(45deg);
  }

  .close .bar:nth-child(2) {
    opacity: 0;
    transition: opacity 300ms;
  }

  .close .bar:last-child {
    transform: translateY(-0.6rem) rotate(-45deg);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const hamburger = document.getElementById("hamburger");

    hamburger?.addEventListener("click", () => {
      const nav = document.querySelector(".nav-links");
      nav?.classList.toggle("expanded");
      // nav?.toggleAttribute("hidden");
      hamburger.classList.toggle("close");

      document.getElementById("home")?.focus();
    });
  });
</script>
