---
import Navigation from "./Navigation.astro";
import Hamburger from "./icons/Hamburger.astro";
import ThemeIcon from "./icons/ThemeIcon.astro";
---

<header>
  <nav>
    <div class="menu">
      <Navigation />
    </div>
    <div class="icons">
      <ThemeIcon />
      <Hamburger />
    </div>
  </nav>
</header>

<style>
  header {
    padding-bottom: 2px;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 550px) {
    header {
      border-bottom: 2px solid var(--brand);
      padding-bottom: 0;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
