---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./icons/ThemeIcon.astro";
---

<header>
  <nav>
    <div class="home">
      <a class="home-link" href="/">Francesco</a>
    </div>
    <div class="icons">
      <ThemeIcon />
      <Hamburger />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  header {
    border-bottom: 3px solid var(--brand);
    box-shadow:
      0 2.8px 2.2px -2.2px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.03)),
      0 6.7px 5.3px -5.3px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.01)),
      0 12.5px 10px -10px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02)),
      0 22.3px 17.9px -17.9px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02));
    margin-bottom: 0.1rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.4rem;
  }

  .home {
    flex: 3;
    font-size: 1.4rem;
    /* font-family: monospace; */
    font-weight: bold;
  }

  .home-link {
    padding: 0.3rem 0.5rem;
    border-radius: 1.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    color: var(--text2);
    &:hover {
      background-color: var(--surface4);
    }
  }

  .icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: 700px) {
    .icons {
      flex: 0;
      order: 1;
    }

    nav {
      display: flex;
      gap: 1rem;
    }
  }
</style>
