---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./icons/ThemeIcon.astro";
---

<header>
  <nav>
    <Navigation />
    <div class="icons">
      <ThemeIcon />
      <!-- <Hamburger /> -->
    </div>
  </nav>
</header>

<style>
  header {
    border-bottom: 3px solid var(--brand);
    box-shadow:
      0 2.8px 2.2px -2.2px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.03)),
      0 6.7px 5.3px -5.3px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.01)),
      0 12.5px 10px -10px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02)),
      0 22.3px 17.9px -17.9px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02));
    margin-bottom: 0.1rem;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 0.3rem;
  }
</style>
