---
import { Image } from "astro:assets";
import profilePic from "../assets/profile-pic.jpeg";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./icons/ThemeIcon.astro";
const currentPath = Astro.url.pathname;
---

<header>
  <nav>
    {
      currentPath === "/" ? (
        <div />
      ) : (
        <a id="home" href="/">
          <Image
            class="profile-pic"
            height={35}
            width={35}
            densities={[4]}
            id="profile-picture"
            src={profilePic}
            alt={`Portrait of Francesco`}
            loading="eager"
          />
          <span class="name">Francesco</span>
        </a>
      )
    }

    <div class="right-side">
      <Navigation />
      <ThemeIcon />
    </div>
  </nav>
</header>

<style>
  header {
    border-bottom: 3px solid var(--brand);
    box-shadow:
      0 2.8px 2.2px -2.2px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.03)),
      0 6.7px 5.3px -5.3px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.01)),
      0 12.5px 10px -10px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02)),
      0 22.3px 17.9px -17.9px hsl(var(--surface-shadow) /
            calc(var(--shadow-strength) + 0.02));
    margin-bottom: 0.1rem;
  }

  .right-side {
    min-height: 3.75rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #home {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.6rem;
    font-weight: 600;
  }

  .name {
    display: none;
    margin: 0.6rem 0.3rem;
    background: -webkit-linear-gradient(var(--text2), var(--text1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .profile-pic {
    margin: 0.6rem;
    border-radius: 50%;
    /* outline: 0.125rem solid var(--text2); */
  }

  @media screen and (min-width: 450px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
    }

    #home {
      justify-content: center;
    }

    .name {
      display: block;
    }
  }
</style>
