---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <h1>
      {frontmatter.title}
    </h1>
    <slot />
  </div>
</BaseLayout>
