---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={`${frontmatter.title} | Francesco Menghi`}
  description={frontmatter.description}
>
  <div>
    <h1>
      {frontmatter.title}
    </h1>
    <slot />
  </div>
</BaseLayout>
